@import "settings";
@import "mixins";


.cooldown-wrap {
    box-sizing: border-box;
    overflow: hidden;
    $size: 100%;

    .overlay-wrap {
        box-sizing: border-box;
        height: $size;
        width: $size;
        position: relative;
        transform-origin: center center;
        opacity: $overlay-opacity;
        
        & > * {
            box-sizing: border-box;
            position: absolute;
            color: transparent;
            display: block; 
            height: $size;
            width: $size;
            background-color: $overlay-color;
            &.q1 {
                left: $size / 2;
                bottom: $size / 2;

            }
            &.q2 {
                left: $size / 2;
                top: $size / 2;
            }
            &.q3 {
                right: $size / 2;
                top: $size / 2;
            }
            &.q4 {
                right: $size / 2;
                bottom: $size / 2;
            }
        }
    }
    @for $i from 1deg through 360deg {
        @include cooldownByAngle($i);
    }
}