@import "math";
@import "settings";


@mixin cooldownWrap($color, $opacity) {
    box-sizing: border-box;
    overflow: hidden;
    $size: 100%;

    .overlay-wrap {
        box-sizing: border-box;
        height: $size;
        width: $size;
        position: relative;
        transform-origin: center center;
        opacity: $opacity;

        & > * {
            box-sizing: border-box;
            position: absolute;
            color: transparent;
            display: block; 
            height: $size;
            width: $size;
            background-color: $color;
            &.q1 {
                left: $size / 2;
                bottom: $size / 2;

            }
            &.q2 {
                left: $size / 2;
                top: $size / 2;
            }
            &.q3 {
                right: $size / 2;
                top: $size / 2;
            }
            &.q4 {
                right: $size / 2;
                bottom: $size / 2;
            }
        }
    }
    @for $i from 1deg through 360deg {
        @include cooldownByAngle($i, $color);
    }
}

@mixin cooldownByAngle($angle, $color) {
    $angle: round($angle);
    $angle90max: $angle % 90;
    &.p#{$angle} {
        .overlay-wrap {
            transform: rotate(#{$angle90max});
            .q4 {
                @if $angle90max > 0deg {
                    background-color: transparent;
                    height: 0;
                    width: 0;
                    border-bottom: $border-size solid $color;
                    border-right: $border-size * tan($angle90max) solid transparent;
                }
            }
            @if $angle >=  90deg {
                .q1 {
                    visibility: hidden;
                }
            }
            @if $angle >= 180deg {
                .q2 {
                    visibility: hidden;
                }
            }
            @if $angle >= 270deg {
                .q3 {
                    visibility: hidden;
                }
            }
            @if $angle >= 360deg {
                .q4 {
                    visibility: hidden;
                }
            }
        }
    }
}